body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
  }
  
  .container {
    /* max-width: 1000px; */
    margin: 0 auto;
    padding: 20px;
  }
  
  .scrollable-table {
    border: solid white;
    color: black;
    max-height: 600px;
    overflow-y: scroll;
  }
  #stock-data{
    color:#fff;
  }
  
  table {
    width: 100%; 
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: white;
    color: black;
}
tr:hover {
    background-color: black;
    color: white;
}
.editable-cell {
    position: relative;
}
.editable-cell input {
    display: none;
    width: 100%;
    box-sizing: border-box;
}
.editable-cell.active input {
    display: block;
}


.buttons {
    margin-bottom: 20px;

  }
  
  .buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buttons button:hover {
    background-color: #45a049;
  }
  
  .buy-sell-log {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .buy-sell-log h2 {
    margin-top: 0;
    color: black;
  }
  
  .buy-sell-log textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  form {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="checkbox"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
#toggleStrategyBtn {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}
#toggleStrategyBtn:hover {
    background-color: #218838;
}

#tableContainer {
  width: 100%;
  height: 400px; /* Adjust height as needed */
  overflow: auto;
}
 